html {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2 {
  font-size: 50px !important;
  margin-bottom: 2rem !important;
  text-align: center;
}

h3 {
  text-align: center;
  color: white;
  font-weight: 400;
  margin-bottom: 0 !important;
}

a {
  text-decoration: none;
}

label {
  font-size: 12px;
}

svg {
  font-size: 20px;
}

button {
  border-radius: 8px !important;
  transition: all 0.15s linear !important;
}

div,
img {
  transition: all 0.15s linear !important;
}

p {
  margin: 0 !important;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input:hover,
input:visited,
input:focus {
  box-shadow: 0px 0px 2px #ffc107;
}


/* Utility Classes */
.width-100-percent {
  width: 100% !important;
}

.max-width-500 {
  max-width: 500px;
}

.width-90-percent {
  width: 90% !important;
}

.fit-content {
  width: fit-content;
}

.display-flex {
  display: flex;
  flex-direction: row;
}

.display-none {
  display: none !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}


.align-items-center {
  align-items: center;
}

.gap-05rem {
  gap: 0.5rem !important;
}

.gap-1rem {
  gap: 1rem !important;
}

.gap-2rem {
  gap: 2rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.border-radius-8 {
  border-radius: 8px !important;
}

.border-yellow {
  border: 1px solid rgba(255, 193, 5, 0.5) !important;
}

.overflow-auto {
  overflow: auto !important;
}

.background-transparent {
  background-color: transparent !important;
  background: transparent !important;
}

.padding0 {
  padding: 0px !important;
}

.italic {
  font-style: italic;
}

.menu-icon {
  color: #ffc107 !important;
  font-size: 20px;
}

.category-img {
  width: 50px;
}

.category-img:hover {
  cursor: pointer;
}

.head-title {
  font-family: 'Lexend Giga', serif;
  color: white;
  font-style: normal;
}

.navbar-button-margin {
  margin-right: 1rem;
}

.navbar-button,
.head-button {
  color: #ffc107 !important;
  font-size: 20px;
}

.dropdown-toggle::after:hover {
  color: white !important;
}

.modal-content {
  background-color: #2b2a3c !important;
  background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=%232b2a3cff&noise=626262&density=15&opacity=15') !important;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 20px;
}

.modal-header {
  border-bottom: 1px solid rgba(255, 193, 5, 0.5) !important;
  padding: 0 0px 1rem 0 !important;
}

.modal-title {
  color: #ffc107;
  font-size: 1rem;
}

.modal-body {
  padding: 1rem 0 !important;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 200px;
}

.modal-footer {
  border-top: 1px solid rgba(255, 193, 5, 0.5) !important;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  color: #fff;
  font-size: 14px;
}

.form-control {
  border-radius: 5px;
  padding: 12px;
  border: none !important;
  color: white !important;
  background-color: #4a4762 !important;
}

.form-control:focus {
  background-color: transparent;
  outline: none !important;
  box-shadow: none !important;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
  font-weight: 100;
  font-size: 12px;
}

.social {
  width: 50px !important;
}

.btn {
  opacity: 0.8 !important;

}

.modal-btn-submit {
  background-color: #ffc107;
  border: none;
  color: #2b2a3c;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.modal-btn-submit:hover {
  background-color: #ffc107;
}

.modal-btn-cancel {
  background-color: #6c757d;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.modal-btn-cancel:hover {
  background-color: #5a6268;
}

.btn-close {
  color: #fff;
}

.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 20px;
  background-color: #1b1a2a;

  div {
    margin-bottom: 1rem !important;
    align-items: center;
    justify-content: center;
  }
}

.footer p {
  color: white;
  margin: 0;
}

.footer-style {
  padding-bottom: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ffffff80;
  margin-bottom: 10px !important;
  width: 100%;
  text-align: center;
}

.validation-error {
  font-size: 10px;
  padding-left: 5px;
  color: red;
  font-style: italic;
  margin: 4px 0px 0px 0px;
}

.card-body-custom {
  height: 120px;
}

.card-title-custom {
  font-size: 1rem;
  text-align: center;
}

.card-title {
  font-size: 1rem;
  text-align: center;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.card-body-footer {
  max-height: 50px;
  padding: 0 0.5rem 0.5rem 0.5rem !important;
  height: 50px !important;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card-footer {
  border: none !important;
}

.divider {
  height: 1px;
  border-bottom: 1px solid #ffc107;
  margin: 1rem 4rem;
}

.disabled {
  filter: opacity(0.2);
}

.our-products-container {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.header-categories-container {
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.header-categories-item {
  margin: 1rem;
  border-radius: 8px;
  border: 1px solid rgba(255, 193, 7, 0.3);
  padding: 5px;
  width: 110px !important;
  cursor: pointer;
}

.header-categories-item:hover {
  box-shadow: 0px 0px 5px rgba(255, 193, 7, 0.5);
  scale: 1.1;
}

.header-categories-img {
  font-size: 12px;
  width: fit-content;
  color: white;
  margin-top: 5px;
}

.slider-container {
  width: 90%;
  padding: 0.5rem;
}

.navbar-container {
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 193, 7, 0.3);
  background-color: rgba(27, 26, 42, 0.6);
  color: white;
  position: sticky !important;
  top: 0 !important;
  z-index: 999 !important;
  backdrop-filter: blur(7px);
}

.navbar-brand-img {
  width: 30px !important;
  cursor: pointer;
}

.navbar-nav {
  gap: 1rem;
}

.header-slider-container {
  margin-bottom: 2rem;
  padding: 1rem 0rem;
}

.header-slider-title {
  margin-bottom: 2rem;
  padding: 1rem 0rem;
}

.header-searchbar-container {
  position: relative;
  width: 100%;
}

.header-searchbar-input {
  width: 100%;
  border-radius: 50px !important;
  text-align: center;
  padding-right: 40px;
}

.header-searchbar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
  cursor: pointer;
}

.header-searchbar-icon:hover {
  color: #5c5b5b;
}

.card-custom {
  background-color: #1b1a2a !important;
  color: white !important;
  padding: 5px;
  max-width: 300px;
  width: 100%;
  box-shadow: 0px 0px 2px rgba(255, 193, 7, 0.5);
  height: 500px !important;
  padding-bottom: 1rem;
}

.card-custom-footer {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #201f32 !important;
  padding: 5px;
  box-shadow: 0px 0px 2px #000000;
  height: 200px;
  width: 200px;
  padding-bottom: 1rem;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100px;
    align-self: center !important;
  }
}

.card-text-custom {
  font-size: 12px;
  font-style: italic;
  color: gray;
  min-height: 40px;
}

.navbar-container-padding {
  padding: 1rem;
}

.menu-icon-margin {
  margin-right: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.accordion-header {
  margin: 0px !important;
  padding: 0px !important;
}

.accordion-item {
  background-color: #38374e !important;
  box-shadow: none;
  border: none !important;
  margin-bottom: 1rem;
}

.accordion-button {
  box-shadow: none !important;
}

.accordion-body {
  box-shadow: none;
  border: none;
}

.all-text-white {
  color: white;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  margin-bottom: 1rem;
}

.swiper-wrapper {
  min-height: 300px !important;
}

.swiper-slide {
  min-height: 300px;
}

.image-brand-title {
  width: 100%;
  color: #ffc107;

  div {
    font-size: 16px;
  }

  img {
    width: 100%;
    max-width: 300px;
  }
}

.text-success2 {
  color: yellowgreen !important;
}

.btn-outline-info {
  color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:hover {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn:hover,
.btn:visited,
.btn:focus {
  * {
    color: white !important;
  }
}

.btn:hover::after,
.btn:visited::after,
.btn:focus::after {
  color: white !important;
}

.btn-xs {
  font-size: 0.75rem;
}

.text-white {
  color: white;
}

.nav-padding-bottom {
  padding-bottom: 2rem;
}

.form-container {
  max-width: 500px;
  width: 100%;
  background-color: #38364b;
  padding: 1.5rem;
  gap: 1rem !important;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.form-button-container {
  padding: 1rem;
}

.save-button {
  width: fit-content;
  display: flex;
  align-items: center;
  height: 40px;
}

.save-icon {
  font-size: 20px;
  margin-right: 1rem;
}

.table-header {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 100px 100px;
  padding: 1rem 0rem;
  background-color: #38364b;
}

.table-body {
  /* background-color: #38364b; */
  padding-top: 0.5rem;
  width: 100%;
  font-size: 10px;
}

/* .table-row {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 100px 100px;
  padding: 1rem 0rem;
  background-color: #38364b;
  border-bottom: 2px solid #2b2a3c;
  font-size: 12px;
} */

.cart-list {
  max-height: 500px;
  height: 500px;
  overflow-x: hidden;
  padding: 1rem;
  border-radius: 0px !important;
}

.cart-item {
  background-color: transparent;
  margin-bottom: 1rem;
}

.cart-icon {
  font-size: 20px;
  cursor: pointer;
}

.cart-subtotal {
  padding-top: 5px;
}

.cart-trash-icon {
  font-size: 28px;
  color: red;
  cursor: pointer;
  margin-left: 2rem;
}

.close-icon {
  cursor: pointer;
  font-size: 30px;
}
.product-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.product-price {
  font-size: 2rem;
}

.product-row {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 600px;
  width: fit-content;
  border-radius: 8px;
  padding: 1rem;
  background-color: #38364b;
  .product-row-title {
    div {
      display: flex;
      font-size: 12px;
      p {
        color: #4681d9;
        display: flex;
        width: 150px;
      }
    }
  }
}

.profile-info {
  padding: 1rem;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 1px solid white;
}

.profile-name {
  font-size: 30px;
}

.profile-description {
  font-style: italic;
}

.register-link {
  margin-left: 5px;
  cursor: pointer;
}

.not-found-container {
  margin-bottom: 20px;
}

.not-found-text {
  color: #fff;
  text-align: center;
  margin: 10px;
}

.not-found-button {
  display: flex;
  align-items: center;
}

.not-found-link {
  text-decoration: none;
  color: inherit;
}

.app-container {
  width: 100%;
  text-align: center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  pointer-events: none !important;
}

.top-cart-item-card {
  background-color: #38364b;
  border-radius: 8px 8px 0 0;
  margin-bottom: 1rem;
}

.checkout-icon-success {
  font-size: 6rem;
  color: yellowgreen;
}

.nav-brand-user {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar > .container {
  width: 100% !important;
  max-width: 100%;
}

.navbar-container {
  flex-wrap: wrap !important;
}

.slick-slide img {
  display: inline !important;
}

.toggle-searchBar-left {
  display: flex;
  cursor: pointer;
}

.toggle-searchBar-right {
  display: flex;
  cursor: pointer;
  margin-right: 1rem;
}

@media (min-width: 1201px) and (max-width: 2500px) {
  .navbar-container-padding {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .toggle-searchBar-left {
    display: none;
    cursor: pointer;
  }

  .toggle-searchBar-right {
    display: flex !important;
    cursor: pointer;
  }
}

/* Rango: de 769px a 992px */
@media (min-width: 769px) and (max-width: 1200px) {
  .navbar-container-padding {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-brand-user {
    justify-content: space-between;
    width: 100%;
  }

  .divider {
    margin: 1rem;
  }

  .toggle-searchBar-left {
    display: flex impot !important;
    cursor: pointer;
  }

  .toggle-searchBar-right {
    display: none;
    cursor: pointer;
  }

  .card-custom {
    max-width: 290px;
    btn-outline-warning {
      width: 100px !important;
    }
  }
}

@media (min-width: 610px) and (max-width: 768px) {
  .card-custom {
    max-width: 250px;
    btn-outline-warning {
      width: 100px !important;
    }
  }

  .navbar-container-padding {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-searchbar-input {
    padding-right: 30px;
  }

  .toggle-searchBar-left {
    display: flex;
    cursor: pointer;
  }

  .toggle-searchBar-right {
    display: none !important;
    cursor: pointer;
  }

  /* .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
  } */

  .nav-brand-user {
    justify-content: space-between;
    width: 100%;
  }

  .product-card-container {
    max-width: 250px;
  }
}

/* Rango: de 577px a 768px */
@media (min-width: 577px) and (max-width: 609px) {
  .header-searchbar-input {
    padding-right: 30px;
  }

  .card-custom {
    max-width: 360px;
    btn-outline-warning {
      width: 100px !important;
    }
  }

  .navbar-container-padding {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .toggle-searchBar-left {
    display: flex;
    cursor: pointer;
  }

  .toggle-searchBar-right {
    display: none !important;
    cursor: pointer;
  }

  /* .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
  } */

  .nav-brand-user {
    justify-content: space-between;
    width: 100%;
  }

  .product-card-container {
    max-width: 360px;
  }
}

/* Rango: de 0px a 576px */
@media (max-width: 576px) {
  h2,
  h1 {
    font-size: 2rem !important;
  }

  .navbar-container-padding {
    width: 100%;
    padding: 0 5px 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divider {
    margin: 1rem;
  }

  .btn-xs {
    font-size: 14px !important;
  }

  .header-categories-container {
    gap: 25px;
  }

  .header-categories-item {
    width: 90px;
    margin: 0;
  }

  .category-img {
    width: 40px;
  }

  .card-custom {
    max-width: 360px;
    align-self: center;
  }

  .image-brand-title img {
    width: 100%;
    max-width: 90%;
  }

  .toggle-searchBar-left {
    display: flex;
    cursor: pointer;
  }

  .toggle-searchBar-right {
    display: none;
    cursor: pointer;
  }

  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-brand-user {
    justify-content: space-between;
    width: 100%;
  }

  .product-card-container {
    max-width: 360px;
  }
}
