html {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #201f32 !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 50px !important;
  margin-bottom: 2rem !important;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 50px !important;
  margin-bottom: 2rem !important;
}

h3 {
  text-align: center;
  color: white;
  font-weight: 400;
}

a {
  text-decoration: none;
}

label {
  font-size: 12px;
}

svg {
  font-size: 20px;
}

button {
  border-radius: 8px !important;
  transition: all 0.15s linear !important;
}

div,
img {
  transition: all 0.15s linear !important;
}

/* Utils */
.width-100-percent {
  width: 100%;
}

.max-width-500 {
  max-width: 500px;
}

.width-90-percent {
  width: 90% !important;
}

.fit-content {
  width: fit-content;
}

.display-flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.gap-1rem {
  gap: 1rem;
}

.gap-2rem {
  gap: 2rem;
}

.min-heigth-200 {
  min-height: 200px;
}

.min-height-300 {
  min-height: 300px;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-20 {
  border-radius: 20px !important;
}

.border-yellow {
  border: 1px solid #fab005;
}

.menu-icon {
  color: #fab005 !important;
  font-size: 20px;
}

.nav-container {
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.category-img {
  width: 50px;
}

.category-img:hover {
  filter: drop-shadow(0px 0px 8px #fab005);
  scale: 1.1;
  cursor: pointer;
}

input:hover,
input:visited,
input:focus {
  outline: 2px solid #fab005;
}

.form-control {
  background-clip: inherit !important;
  box-shadow: none;
  border: none;
}

.navbar-button,
.head-button {
  color: #fab005 !important;
  font-size: 20px;
}

.navbar-button:hover,
.navbar-button:visited,
.navbar-button:focus {
  * {
    color: white !important;
  }
}

.modal-content {
  background-color: rgba(43, 42, 60) !important;
  border-radius: 10px;
  padding: 20px;
}

.modal-header {
  border-bottom: 2px solid #fab005;
}

.modal-title {
  color: #fab005;
  font-weight: bold;
  font-size: 1.5rem;
}

.modal-body {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.table-products {
  div {
    text-align: center !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1px 2px;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  color: #fff;
  font-weight: bold;
}

.form-control {
  border-radius: 5px;
  padding: 12px;
  border: 1px solid #fab005;
}

.form-control:focus {
  border-color: #fab005;
  box-shadow: 0 0 5px rgba(250, 176, 5, 0.7);
}

.modal-footer {
  border-top: 2px solid #fab005;
}

.modal-btn-submit {
  background-color: #fab005;
  border: none;
  color: #2b2a3c;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.modal-btn-submit:hover {
  background-color: #f79c42;
}

.modal-btn-cancel {
  background-color: #6c757d;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.modal-btn-cancel:hover {
  background-color: #5a6268;
}

.btn-close {
  color: #fff;
}

.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 20px;
  background-color: #1b1a2a;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer p {
  color: white;
  margin: 0;
}

.footer-style {
  padding-bottom: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ffffff80;
  margin-bottom: 10px !important;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.validation-error {
  font-size: 10px;
  padding-left: 5px;
  color: red;
  font-style: italic;
  margin: 4px 0px 0px 0px;
}

.card-body-custom {
  height: 120px;
}

.card-title-custom {
  font-size: 1rem;
  text-align: center;
}

.card-title {
  font-size: 1rem;
  text-align: center;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.card-body-footer {
  max-height: 70px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.divider {
  height: 1px;
  border-bottom: 1px solid #fab005;
  margin: 1rem 4rem;
}

.disabled {
  filter: opacity(0.2);
}

.our-products-container {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.header-categories-container {
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.header-categories-item {
  margin: 1rem;
}

.header-categories-img {
  font-size: 12px;
  width: fit-content;
  color: white;
  margin-top: 5px;
}

.slider-container {
  width: 80%;
}

.navbar-container {
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 1px solid #fab005;
}

.navbar-brand-img {
  width: 150px;
  cursor: pointer;
}

.header-slider-container {
  margin-bottom: 2rem;
  padding: 1rem 0rem;
}

.header-slider-title {
  margin-bottom: 2rem;
  padding: 1rem 0rem;
}

.header-searchbar-container {
  position: relative;
  width: 100%;
}

.header-searchbar-input {
  width: 100%;
  border-radius: 50px !important;
  text-align: center;
  padding-right: 40px;
}

.header-searchbar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
}

.card-custom {
  background-color: #1b1a2a !important;
  color: white !important;
  padding: 5px;
  max-width: 300px;
  box-shadow: 0px 0px 2px #ffc107;
  height: 550px;
}

.card-custom-footer {
  background-color: white !important;
  color: #201f32 !important;
  padding: 5px;
  max-width: 300px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 550px;

  .btn-outline-warning {
    background-color: #fab005;
    color: white;
  }

  /* .btn-outline-secondary {
    background-color: #fab005;
    color: white;
  } */
}

.card-text-custom {
  font-size: 12px;
}

.navbar-container-padding {
  padding: 1rem;
}

.navbar-button-margin {
  margin-right: 1rem;
}

.menu-icon-margin {
  margin-right: 1rem;
}

@media (max-width: 1200px) {
  /* .navbar-brand-img {
    width: 120px;
  } */

  /* .header-slider-container,
  .slider-container {
    width: 90%;
  }

  .card-custom {
    max-width: 250px;
    height: 500px;
  } */
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .navbar-container-padding {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    border-bottom: 1px solid #fab005;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    margin-top: 1rem;
    flex-wrap: wrap;
  }

  .divider {
    margin: 1rem;
  }
}
